// breakpoints
$desktopWide: 1770px;
$tabletLandscapeMax: 1280px;
$tabletPortraitMax: 1023px;
$tabletLandscapeMin: 1024px;
$tabletPortraitMin: 768px;
$mobile: 767px;

// colors
$color-default: #a9abba;
$color-accent-primary: #1c1d20;
$color-accent-secondary: #4f8be4;
