@import '../../../css/common.scss';

.Wrap {
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    transition: all $transition $transition-style;

    visibility: hidden;
    pointer-events: none;
    opacity: 0;

    &.Open {
        opacity: 1;
        pointer-events: visible;
        visibility: visible;
    }
}

.Overlay {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.7);
}

.Inner {
    position: relative;
    z-index: 5;
    width: 100%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
}

@media only screen and (min-width: $desktopWide) {
}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {
}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
}

@media only screen and (max-width: $mobile) {
    .Wrap {
        padding: 0 10px;
    }
}
