@import '../../../css/common.scss';

.Section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .BtnSubmit {
        min-height: 32px;
        margin-bottom: 20px;
    }

    .BtnLogin {
        min-height: 32px;
    }
}

.TextField {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.ModalInner {
    padding: 60px 44px;
}

.ModalIcon {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #87ed97;
    border-radius: 50%;
    margin-bottom: 34px;

    svg {
        width: 20px;
        height: 20px;
    }

    svg path {
        stroke: #fff;
    }
}

.ModalText {
    font-size: 11px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.3px;
    color: $color-default;
    text-align: center;
}

@media only screen and (min-width: $desktopWide) {
}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {
}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
}

@media only screen and (max-width: $mobile) {
}
