@import '../../../../../css/common.scss';

.Wrap {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.Avatar {
    flex-shrink: 0;
    position: relative;
    width: 92px;
    height: 92px;
    background-color: $color-ui-bg;
    border-radius: 50%;
    margin-right: 30px;
    overflow: hidden;
}

.AvatarChange {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 92px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-accent-secondary;
    border-radius: 50%;
    cursor: pointer;

    svg {
    }
}

.Info {
}

.Name {
    font-size: 17px;
    line-height: normal;
    font-weight: 600;
    color: $color-accent-primary;
    margin-bottom: 6px;
}

.Position {
    font-size: 14px;
    line-height: normal;
}

@media only screen and (min-width: $desktopWide) {
}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {
}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
}

@media only screen and (max-width: $mobile) {
}
